<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="header"> 

        <header class="header-content"> 
            <a href="#logo" class="logo">
                <img src="https://img.collegepravesh.com/2016/01/COEP-Tech-Pune-Logo.png" alt="COEP Emblem" class="logo-icon" width="100" height="100">
                <span class="logo-text">COEP Transport</span>
            </a>    

            <nav class="nav">
                   <a href="/home" class="nav-link">Home</a>
                <a href="/aboutus" class="nav-link">About Us</a>
                <a href="/contact" class="nav-link">Contact Us</a>
            </nav>
        </header>
    </div>
    <br>
    <div class="banner">
        <div class="text">
            <h1>Get Involved</h1>We believe in the power of community and welcome input from all members of the COEP family. <br> Whether you have feedback, suggestions, or ideas for improvement, we invite you to get involved .
            <br>
            <br>
            <br>
            <h1>Contact Us</h1> Have a question or need assistance? <br>
            Don't hesitate to reach out. <br>
            You can contact us via email at <br>
            <a href="gaikwadia22.comp@coeptech.ac.in">gaikwadia22.comp@coeptech.ac.in</a> OR <br>    
            <a href="dhruvavt22.comp@coeptech.ac.in">dhruvavt22.comp@coeptech.ac.in</a> 
            
        </div>
    </div>
</body>
<footer class="footer">
    &copy; For COEP, By COEP.
</footer> 
</html>