<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COEP Transport</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="header"> 

        <header class="header-content"> 
            <a href="#logo" class="logo">
                <img src="https://img.collegepravesh.com/2016/01/COEP-Tech-Pune-Logo.png" alt="COEP Emblem" class="logo-icon" width="100" height="100">
                <span class="logo-text">COEP Transport</span>
            </a>    

            <nav class="nav">
                <a href="/home" class="nav-link">Home</a>
                <a href="/aboutus" class="nav-link">About Us</a>
                <a href="/contact" class="nav-link">Contact Us</a>
            </nav>
        </header>
    </div>
    <div class="banner">
        <section>
        <div class="text" >
            
            <h1 style="font-size:4vw">Navigating your <br>academic journey <br>One ride at a time.</h1>
            <br>
            <p>Streamlining the daily commute for COEP College students, this platform <br>provides real-time details on Local Buses and Metro options, including Routes, <br> Fares, and Vehicle Numbers. Input your Arrival Time to receive a tailored list, <br> ensuring a smooth and hassle-free journey.</p>
        </div>
        <div class="carpool">
            <h2 style="font-size: 1.75vw;">Interested in Carpool?</h2>
            <div class="body1" id="carpool">
                <button><a href="/cpool">Carpool</a></button>
            </div>
            
        </div>
        <br>
        <div class="content">
            <div class="body" id="train">
                <button><a href="/train">Find Metro</a></button>
                <div class="btn-txt"><h1>Find local Metro from your area</h1></div>
            </div>
            <div class="body" id="bus">
                <button><a href="/bus">Find Bus</a></button>
                <div class="btn-txt"><h1>Find local Bus from your area</h1></div>
            </div>
        </div>
    </div>
    <footer class="footer">
        &copy; For COEP, By COEP.
    </footer> 
</body>
</html>

